/*Esto se aplica a todo el documento*/
*{
    font-family: 'Ubuntu', sans-serif; /*Letra seleccionada*/
    text-align: center; /*Para que la letra este centrada*/
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    line-height: 2; /*interlineado*/
}

/*Se le aplica a todos los textos normales*/
p{
    text-align: justify;
    margin: 15px;
}

/*Para los LI*/
li{
    text-align: justify;
    margin: 10px 60px;
    padding: 0;
}

body{
    background-color: beige;
}
/*lo que va a seguir al mouse*/
#imagenSeguidora {
    position: absolute;
    pointer-events: none; /* Permite que el mouse interactúe con los elementos debajo de la imagen */
    transition: all 0.2s ease;
  }

/*Todo lo que es el tema de la barra de navegacion*/
nav{
    background-color: #a2d9a265; /*Fondo de la barra*/
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
    padding: 10px;
}
.logo{
    display: contents;
}

#logo{
    width: 130px;
    height: 100px;
    margin: 0px;
    padding: 0px;
}
nav ul{ /*Solo modifica los que estan dentro del nav*/
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
nav li{ /*Solo modifica los que estan dentro del nav*/
    margin: 0 10px;
}
nav a{ /*Solo modifica los que estan dentro del nav*/
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: #2d5c03; /*animacion cuando pasas con el mouse*/
}

/*La galeria de 4 imagenes*/
.container-galeria{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 225px;
}
.item-galeria{
    margin: 0px;
}
.imagen-galeria{
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-size: cover;
    transition: transform 0.3s ease;
}
.imagen-galeria:hover{
    transform: scale(1.1);
}
.item-galeria:nth-child(2){
    grid-column-start: span 2;
}

.item-galeria:nth-child(1){
    grid-row-start: span 2;
}


/*Estilo de las cartas de informacion - Este es para copiar y pegar*/
.carta{
    background-color: black; /*fondo de la carta*/
    padding: 10px;
    border-radius: 5px; /*para que tenga un borde como una carta*/
    border: 1px solid black;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 20px;
}
.carta h2{
    margin-top: 5px; /*para que no se pegue a la imagen*/
}
.carta p{
    margin-top: 5px; /*para que no se pegue al titulo*/
    text-align: center;
}
.carta a{
    display: inline-block;
    text-decoration: none; /*le saco el link visual*/
    color: white;
    background-color: black; /*lo hago tipo boton*/
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px; /*para que se parezca a un boton*/
    transition: transform 0.3s ease; 
}
.carta a:hover{
    background-color: black; /*para que tenga una animacion cuando lo vas a tocar*/
    transform: rotate(15deg);
}
.movimiento_imagen_x{ /*Se traslada en x*/
    transition: transform 0.3s ease;
}
.movimiento_imagen_x:hover{
    transform: translateX(20px);
}


/*Bloque 1 - Bienvenido a plantas felices*/
.bloque_1{ 
    background-color: #c2a87f93;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.bloque_1 p{
    text-align: center;
}
/*.oculto {
    opacity: 0;
    transition: opacity 0.5s ease;
    white-space: normal;
}
.mostrar-texto .oculto {
    opacity: 1;
}*/

/*Bloque 2 - Que hacemos y nuestro objetivo*/
.bloque_2{
    background-color: #f2e7b18a;
    border-radius: 5px;
    padding: 50px;
    margin-bottom: 30px;
    margin-top: 30px;
}
.bloque_2 p{
    text-align: center;
}
/*Carta 1 - Cuidados*/
.carta_1 .carta{
    background-color: #c9e890b3;
    border-color: #C9E890;
}
.carta_1 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.carta_1 a{
    background-color: #76a918;
    
}

/*Carta 2 - Plagas*/
.carta_2 .carta{
    background-color: #fff0a5a7;
    border-color: #FFF0A5;
}
.carta_2 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.carta_2 a{
    background-color: #eace42;
}

/*Carta 3 - PF*/
.carta_3 .carta{
    background-color: #d6bba6cd;
    border-color: #D6BBA6;
}
.carta_3 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.carta_3 a{
    background-color: #b1815d;
}

/*Bloque 3 - Porque elegirnos*/
.bloque_3{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #b0d4a590;
    border-radius: 5px;
    padding: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
.bloque_3 p{
    text-align: center;
}

/*Bloque 4 - Unete a nuestra mision*/
.bloque_4{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #f6dca57f;
    border-radius: 5px;
    padding: 50px;
    
    margin-left: 150px;
    margin-right: 150px;
}
.bloque_4 p{
    text-align: center;
}
.bloque_4 a{
    display: inline-block;
    text-decoration: none; /*le saco el link visual*/
    color: rgb(255, 255, 255);
    background-color: rgb(40, 192, 223); /*lo hago tipo boton*/
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px; /*para que se parezca a un boton*/
    transition: transform 0.3s ease; 
}
.bloque_4 a:hover{
    background-color: black; /*para que tenga una animacion cuando lo vas a tocar*/
    transform: rotate(15deg);
}

/* Seccion footer*/
.pie-pagina{
    background-color: #7dab7d98;
    width: 100%;
}
.pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}
.pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pie-pagina .grupo-1 .box figure img{
    width: 250px;
}
.pie-pagina .grupo-1 .box h2{
    margin-bottom: 25px;
    font-size: 20px;
    color: rgb(0, 0, 0);
}
.pie-pagina .grupo-1 .box li{
    list-style: none;
}
.pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: green;
    text-align: center;
    transition: all 300ms ease;
}
.pie-pagina .grupo-1 .red-social a:hover{
    color:#f6d845
}

/* Seccion de cuidados*/

/*bloque 5 - Todo para el cuidado de tus plantas*/
#bloque_5{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #cafb91ab;
    border-radius: 5px;
    padding: 50px;
}

/*Acordeones*/
.contenedor .acordeon{
    width: 100%;
    max-width: 800px;
    margin:auto;
    margin-top: 80px;
    padding: 20px;
}
.acordeon{
    background: #f2e7b1ca;
}   
.acordeon label{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: f2e7b1ca;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.titulo-acordeon::after{
    content: "+";
    padding-right: 1rem;
}

.btn-acordeon:checked ~ .titulo-acordeon::after{
    content: "-";
}

.acordeon label:hover{
    background: f2e7b1ca;
}

.acordeon .contenido-acordeon{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-acordeon:checked ~ .contenido-acordeon{
    max-height: 12000px;
    padding: 15px 0px;
}

.btn-acordeon{
    display: none;
}

/*Bloque 6 - Prreguntas frecuentes acerca del ducadi de plantas*/
#bloque_6{
    margin-bottom: 30px;
    margin-top: 30px;
    background-color: #b9e3ac7a;
    border-radius: 5px;
    padding: 50px;
}



/*Seccion preguntas*/
.contenedor .preguntas{
    width: 100%;
    max-width: 800px;
    margin:auto;
    margin-top: 80px;
}

.preguntas{
    background: #d6bba69d;
}

.preguntas label{
    display: block;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
    text-align:left;
    background: #d6bba69d;
    cursor: pointer;
    margin-bottom: 2px;
    transition: all 300ms ease;
}

.titulo-preguntas::after{
    content: "+";
    padding-right: 1rem;
}

.btn-preguntas:checked ~ .titulo-preguntas::after{
    content: "-";
}

.preguntas label:hover{
    background: #d6bba69d;
}

.preguntas .contenido-preguntas{
    padding: 0px;
    margin: 0px 20px;
    max-height: 0px;
    overflow: hidden;
    transition: all 300ms ease;
}

.btn-preguntas:checked ~ .contenido-preguntas{
    max-height: 800px;
    padding: 15px 0px;
}

.btn-preguntas{
    display: none;
}

/*Para q se adapte a cualquier pantalla*/
/*NO PUDE ADAPTAR LA BARRA DE NEVAGACION, EL RESTO SI Y YA REVISE TODO! FALTA LA NAV*/

@media screen and (max-width: 920px) {
    h1{
        font-size:x-large;
    }
    h4{
        font-size:small;
    }
    h2{
        font-size:large;
    }
    p{
        font-size:medium;
    }
    li{
        font-size:medium;
    }
    ul{
        font-size:medium;
    }
}
@media screen and (max-width: 880px){
    h1{
        font-size: larger;
    }
    h4{
        font-size: smaller;
    }
    h2{
        font-size: medium;
    }
    p{
        font-size: small;
    }
    ul{
        font-size: small; 
    }
    li{
        font-size: small;
    }
    /*La galeria de 4 imagenes*/
    .container-galeria{
        grid-auto-rows: 150px;
    }
    /*Las cartas*/
    .carta{
        padding: 5px;
        margin-left: 170px;
        margin-right: 170px;
    }
    /*Las imagenes de cartas*/
    .carta_1 img{
        width: 350px;
        height: 250px;
    }
    .carta_2 img{
        width: 350px;
        height: 250px;
    }
    .carta_3 img{
        width: 350px;
        height: 250px;
    }
    .bloque_1{
        padding: 15px;
    }
    #bloque_2{
        padding: 15px;
    }
    .bloque_3{
        padding: 5px;
        margin-left: 120px;
        margin-right: 120px;
    }
    .bloque_4{
        padding: 5px;
        margin-left: 120px;
        margin-right: 120px;
    }
}
@media screen and (max-width: 770px){
    /*Las cartas*/
    .carta{
        padding: 5px;
        margin-left: 90px;
        margin-right: 90px;
    }
    .bloque_3{
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
    .bloque_4{
        padding: 5px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
@media screen and (max-width: 620px){
    /*Las cartas*/
    .carta{
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .bloque_3{
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .bloque_4{
        padding: 5px;
        margin-left: 50px;
        margin-right: 50px;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 620px;
        grid-gap: 0px;
        padding: 15px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 150px;
    }
    .pie-pagina .grupo-1 .box h2{
        margin-bottom: 15px;
        font-size: medium;
    }
    .pie-pagina .grupo-1 .red-social a{
        width: 35px;
        height: 35px;
        line-height: 35px;
        color: white;
    }
    #logo{
        width: 30%;
        height: 30%;
        align-items: center;
    }
}
@media screen and (max-width: 530px) {
    .carta{
        padding: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .bloque_1{
        padding: 10px;
    }
    #bloque_2{
        padding: 10px;
    }
    .bloque_3{
        padding: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .bloque_4{
        padding: 5px;
        margin-left: 30px;
        margin-right: 30px;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 520px;
        grid-gap: 0px;
        padding: 10px 0px;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 100px;
    }
    .pie-pagina .grupo-1 .box h2{
        margin-bottom: 10px;
        font-size: medium;
    }
    .pie-pagina .grupo-1 .red-social a{
        width: 25px;
        height: 25px;
        line-height: 25px;
        color: white;
    }
}
@media screen and (max-width: 490px){
    .carta{
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    } 
    .bloque_3{
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .bloque_4{
        padding: 5px;
        margin-left: 10px;
        margin-right: 10px;
    }
    /*Las imagenes de cartas*/
    .carta_1 img{
        width: 250px;
        height: 170px;
    }
    .carta_2 img{
        width: 250px;
        height: 170px;
    }
    .carta_3 img{
        width: 250px;
        height: 170px;
    }
    .bloque_1{
        padding: 5px;
    }
    #bloque_2{
        padding: 5px;
    }
    .bloque_3{
        padding: 5px;
    }
    .acordeon{
        padding: 5px;
    }   
}

/* NAV */
@media screen and (max-width: 920px) {
    nav li {
        margin: 0 15px; /* Ajusta el espacio entre elementos de la lista */
    }
}

@media screen and (max-width: 880px) {
    nav li {
        margin: 0 10px; /* Ajusta el espacio entre elementos de la lista */
    }
}

@media screen and (max-width: 770px) {
    nav ul {
        justify-content: space-between; /* Espacio uniforme entre elementos */
    }
    
    nav li {
        margin: 0 15px; /* Ajusta el espacio entre elementos de la lista */
    }
}

@media screen and (max-width: 620px) {
    nav ul {
        flex-direction: column; /* Apila los elementos en la lista */
    }
    
    nav li {
        margin: 5px 0; /* Espacio entre elementos de la lista */
    }
}

@media screen and (max-width: 530px) {
    nav li {
        margin: 0 10px; /* Ajusta el espacio entre elementos de la lista */
    }
}

@media screen and (max-width: 490px) {
    nav {
        flex-direction: column; /* Apila los elementos en la barra de navegación */
    }
    
    nav ul {
        flex-direction: column; /* Apila los elementos en la lista */
        margin-top: 10px; /* Espacio entre la lista y el logo */
    }
    
    nav li {
        margin: 5px 0; /* Espacio entre elementos de la lista */
    }
}
