*{
    font-family: 'Ubuntu', sans-serif; /*Letra seleccionada*/
    text-align: center; /*Para que la letra este centrada*/
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/*Poner los diferentes tipos de pantalla que podemos tener*/

body{
    background-color: #E2E8C0;
}

/*Todo lo que es el tema de la barra de navegacion*/

nav{
    background-color: #fff; /*Fondo de la barra*/
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}
.logo{
    display: contents;
}
#logo{
    width: 13%;
    height: 13%;
    margin: 0px;
    padding: 0px;
}
nav ul{ /*Solo modifica los que estan dentro del nav*/
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
nav ul{ /*Solo modifica los que estan dentro del nav*/
    list-style-type: none;
}
nav li{ /*Solo modifica los que estan dentro del nav*/
    display: inline;
}
nav a{ /*Solo modifica los que estan dentro del nav*/
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: rgb(243, 0, 0); /*animacion cuando pasas con el mouse*/
}


/*Bloque 1*/

#bloque_1{ /*primer bloque del index*/
    margin-top: 20px;
    background-color: #FDECEF;
    border-radius: 5px;
}
/*TODO EL ESTILO QUE TIENEN LAS CARTAS*/

.carta{
    background-color: blueviolet; /*fondo de la carta*/
    padding: 10px;
    border-radius: 5px; /*para que tenga un borde como una carta*/
    border: 1px solid #9f1ac3;
}
.carta h2{
    margin-top: 5px; /*para que no se pegue a la imagen*/
}
.carta p{
    margin-top: 5px; /*para que no se pegue al titulo*/
}
.carta a{
    display: inline-block;
    text-decoration: none; /*le saco el link visual*/
    color: white;
    background-color: #b120c2; /*lo hago tipo boton*/
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px; /*para que se parezca a un boton*/
}
.carta a:hover{
    background-color: chocolate; /*para que tenga una animacion cuando lo vas a tocar*/
}

/*Bloque 3 - */
.bloque_3 a{
    background-color: #42bbbf; /*Para cambiar los colores de los botones*/
}
.bloque_3 .carta{
    background-color: coral; /*Para cambiar el color*/
}

/*Bloque 4*/
#bloque_4{ 
    margin-top: 20px;
    background-color: rgb(142, 50, 129);
    border-radius: 5px;
}

/*Bloque 5*/

#bloque_5{
    margin-top: 20px;
    background-color: rgb(214, 161, 46);
    border-radius: 5px;
}

/*Bloque 6*/

.bloque_6{
    margin-top: 20px;
    background-color: rgb(187, 21, 179);
    border-radius: 5px;
}
.bloque_6 a{ /*copio lo de las cartas asi se ve como un boton*/
    display: inline-block;
    text-decoration: none; /*le saco el link visual*/
    color: white;
    background-color: #b120c2; /*lo hago tipo boton*/
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px; /*para que se parezca a un boton*/
    margin-bottom: 10px;
}
.bloque_6 a:hover{
    background-color: chocolate; /*para que tenga una animacion cuando lo vas a tocar*/
}

/*Bloque 7 - Imagenes en un cuadrado*/
.matriz_imagenes{
    align-items: center;
    background-color:gold;
    border: 1px solid #ccc;
    border-radius: 10px;
    flex-wrap: wrap;
}
/*Cuando tengamos las imagenes hay que ver cuanto tienen que tener de margenes etc*/
.fila{
    display: flex;
    justify-content: space-around;
}
.columna img{ /*para las imagenes*/
    border-radius: 10px;
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 768px){
    body {
        font-size: 8px;
    }
    #bloque_2 .carta {
        width: 45%; /* Ancho de cada carta */
        margin: 10px; /* Espacio entre las cartas */
    }
    .bloque_3 .carta {
        width: 45%;
        margin: 10px;
    }
    .carta {
        width: 90%;
        margin: 10px 0; /* Espacio vertical entre las cartas */
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px){

}