*{
    font-family: 'Ubuntu', sans-serif; /*Letra seleccionada*/
    text-align: center; /*Para que la letra este centrada*/
    padding: 0px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

/*Poner los diferentes tipos de pantalla que podemos tener*/

body{
    background-color: #EFECCA;
}

/*Todo lo que es el tema de la barra de navegacion*/

nav{
    background-color: #C5E6A6; /*Fondo de la barra*/
    justify-content: space-between;
    display: flex;
    align-items: flex-end;
}
.logo{
    display: contents;
}
#logo{
    width: 13%;
    height: 13%;
    margin: 0px;
    padding: 0px;
}
nav ul{ /*Solo modifica los que estan dentro del nav*/
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-grow: 1;
}
nav ul{ /*Solo modifica los que estan dentro del nav*/
    list-style-type: none;
}
nav li{ /*Solo modifica los que estan dentro del nav*/
    display: inline;
}
nav a{ /*Solo modifica los que estan dentro del nav*/
    text-decoration: none;
    color: black;
}
nav a:hover{
    color: rgb(243, 0, 0); /*animacion cuando pasas con el mouse*/
}

/*TODO EL ESTILO QUE TIENEN LAS CARTAS*/

.carta{
    background-color: black; /*fondo de la carta*/
    padding: 10px;
    border-radius: 5px; /*para que tenga un borde como una carta*/
    border: 1px solid black;
}
.carta h2{
    margin-top: 5px; /*para que no se pegue a la imagen*/
}
.carta p{
    margin-top: 5px; /*para que no se pegue al titulo*/
}
.carta a{
    display: inline-block;
    text-decoration: none; /*le saco el link visual*/
    color: white;
    background-color: black; /*lo hago tipo boton*/
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px 20px; /*para que se parezca a un boton*/
}
.carta a:hover{
    background-color: black; /*para que tenga una animacion cuando lo vas a tocar*/
}


/*Bloque 1*/

#bloque_1{ 
    margin-top: 20px;
    background-color: #E3A587;
    border-radius: 5px;
    padding: 25px;
}

/*Bloque 2*/

#bloque_2{
    margin-top: 20px;
    background-color: #FFD275;
    border-radius: 5px;
    padding: 25px;
}

/*Bloque 7 - Imagenes en un cuadrado*/

.matriz_imagenes{
    margin-top: 20px;
    align-items: center;
    background-color:#C5E6A6;
    border: 1px solid #C5E6A6;
    border-radius: 10px;
    flex-wrap: wrap;
    padding: 25px;
}
/*Cuando tengamos las imagenes hay que ver cuanto tienen que tener de margenes etc*/
.fila{
    display: flex;
    justify-content: space-around;
}
.fila img{ /*para las imagenes*/
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.columna img{ /*para las imagenes*/
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.movimiento_imagen{
    transition: transform 0.3s ease;
}
.movimiento_imagen:hover{
    transform: translateX(20px);
}


/*Bloque 3 - Cuidados*/
.bloque_3 .carta{
    background-color: #9297C4;
    border-color: #9297C4;
}
.bloque_3 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.bloque_3 a{
    background-color: #7261A3;
}

/*Bloque 4 - Plagas*/

.bloque_4 .carta{
    background-color: #FFAFF0;
    border-color: #FFAFF0;
}
.bloque_4 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.bloque_4 a{
    background-color: #F092DD;
}

/*Bloque 5 - PF*/

.bloque_5 .carta{
    background-color: #8AFFC1;
    border-color: #8AFFC1;
}
.bloque_5 img{
    border-radius: 10px;
    max-width: 100%;
    height: auto;
    width: 450px;
    height: 350px;
}
.bloque_5 a{
    background-color: #8FDC97;
}

/*Bloque 6*/

#bloque_6{
    margin-top: 20px;
    background-color: #CB769E;
    border-radius: 5px;
    padding: 25px;
}

/*Bloque 7*/

#bloque_7{
    margin-top: 20px;
    background-color: #8CAE68;
    border-radius: 5px;
    padding: 25px;
}

@media screen and (max-width: 768px){
    body {
        font-size: 8px;
    }
    #bloque_2 .carta {
        width: 45%; /* Ancho de cada carta */
        margin: 10px; /* Espacio entre las cartas */
    }
    .bloque_3 .carta {
        width: 45%;
        margin: 10px;
    }
    .carta {
        width: 90%;
        margin: 10px 0; /* Espacio vertical entre las cartas */
    }
}
@media screen and (min-width: 769px) and (max-width: 1024px){

}
@media screen and (min-width: 1025px){

}
